main {
  padding: 100px 3% 1% 3%;
  width: 100vw;
}

/* =====================================
   formulaire
======================================== */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60vh;
  width: 100%;
  margin-top: 1%;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* =====================================
   Class pour les inputs
======================================== */

.champs {
  padding: 0.8rem 0;
}

/* =====================================
   Envoyer
======================================== */

.bouton {
  font-size: 1rem;
  border: none;
}

/* =====================================
   Animation triangles
======================================== */

.animation_groupe {
  position: relative;
  animation-name: animation_groupe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes animation_groupe {
  0% {
    top: 5px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 5px;
  }
}

/* =========================================================================================================================================
                                                        CSS specialement pour le format PC
============================================================================================================================================= */

@media all and (min-width: 1001px) {
  main {
    height: 88.2vh;
  }

  /* =====================================
   formulaire
======================================== */

  form div {
    width: 30%;
  }

  /* =====================================
   Triangles
======================================== */

  .position_triangles {
    display: flex;
  }
  .triangles_individuels {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 55px solid white;
    filter: drop-shadow(5px 10px 4px rgba(0, 0, 0, 0.5));
    position: relative;
  }

  /* =====================================
   Triangles positions
======================================== */

  .triangles_droit {
    top: 150px;
    left: 90px;
    rotate: 50deg;
  }
  .triangles_haut_gauche {
    bottom: 30px;
    rotate: -50deg;
  }
  .triangles_bas_gauche {
    top: 300px;
    right: 200px;
  }
}

/* =========================================================================================================================================
                                                        CSS specialement pour le format Mobile
============================================================================================================================================= */

@media all and (max-width: 1000px) {
  main {
    height: 85vh;
  }
  form div {
    width: 50%;
  }
  .triangles_individuels {
    display: none;
  }
}
